<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta charset="UTF-8">
    <title>订单支付</title>
    <link href="../css/head.css" rel="stylesheet">
    <link href="../css/pay.css" rel="stylesheet">
</head>
<body>

<ion-header-bar class="stable-bg bar bar-header" align-title="center">
    <button class="button " onclick="history.go(-1)">
        <i class="icon ion-android-arrow-back"></i>
				<span class="back-text">
				<img src="../img/ion/return.png">
				</span>
    </button>

    <div class="title title-center header-item" style="left: 15px; right: 15px;">订单支付</div>
</ion-header-bar>
<div class="content">
    <div class="moneybg">
        <img src="../img/paybag.png">
        <p>付款金额</p>
        <p>￥18.00</p>
    </div>
    <button class="save light">确认付款</button>
</div>
</body>
</html>
