<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta charset="UTF-8">
    <title>发帖</title>
    <link href="../css/foot.css" rel="stylesheet">
    <link href="../css/head.css" rel="stylesheet">
    <link href="../css/sendpost.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="lib/css/emoji.css">
    <link href="../css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/zyUpload.css" type="text/css">
    <style>
        .fileUpdate {
            background-color: #F0F0F0;
            cursor: pointer;
            display: inline-block;
            height: 44px;
            width: 100%;
        }

        .fileUpdate > img {
            left: 0;
        }
    </style>
</head>
<body>
<div class="foot">
    <a class="foot-tab" href="start.html"><img src="../img/ion/start.png">
        <p>首页</p></a>
    <a class="foot-tab " href="friend.html"><img src="../img/ion/friend2.png">
        <p>社区</p></a>
    <a class="foot-tab " href="home.html"><img src="../img/ion/home2.png">
        <p>小店</p></a>
    <a class="foot-tab " href="person.html"><img src="../img/ion/my2.png">
        <p>我的</p></a>
</div>
<ion-header-bar class="stable-bg bar bar-header" align-title="center">
    <button class="button " onclick="history.go(-1)">
        <i class="icon ion-android-arrow-back"></i>
				<span class="back-text">
                    <img src="../img/ion/return.png">
                </span>
    </button>
    <div class="title title-center header-item" style="left: 15px; right: 15px;">发帖</div>
</ion-header-bar>
<div class="content">
    <form id="form" name="inputform" enctype="multipart/form-data" method="post"
          action="http://www.bananatrip.cn/add/post">
        <div class="post-box" id="post-box">
            <div class="inner cover">
                <p class="lead emoji-picker-container">
                    <textarea class="form-control textarea-control" style="border: 0;outline: none;" rows="6" cols="50"
                              name="message" placeholder="发表帖子" data-emojiable="true">
                    </textarea>
                </p>
            </div>
        </div>
        <!--<div class="postface stable-bg">-->
        <!--<ul class="face">-->
        <!--<li><img src="../img/pic.png"></li>-->
        <!--</ul>-->
        <!--</div>-->
        <div id="demo" class="demo"></div>
        <button class="save">发表</button>
    </form>
</div>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/zyFile.js"></script>
<script type="text/javascript" src="../js/zyUpload.js"></script>
<script type="text/javascript" src="../js/demo.js"></script>
<!--<script src="http://libs.useso.com/js/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>-->
<script>window.jQuery || document.write('<script src="js/jquery-2.1.1.min.js"><\/script>')</script>
<!--Begin emoji-picker JavaScript -->
<script src="lib/js/nanoscroller.min.js"></script>
<script src="lib/js/tether.min.js"></script>
<script src="lib/js/config.js"></script>
<script src="lib/js/util.js"></script>
<script src="lib/js/jquery.emojiarea.js"></script>
<script src="lib/js/emoji-picker.js"></script>
<!-- End emoji-picker JavaScript -->
<script>
    $(function () {
        // 检查是否登录
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: 'http://www.bananatrip.cn/is/login',
            data: {'type': 1},
            success: function (obj) {
                if (obj.info == 1) {
                    window.location.href = 'http://www.bananatrip.cn/wx/login/sendpost';
                }
            },
            error: function (obj) {
                console.log(obj);
            }
        });


        // Initializes and creates emoji set from sprite sheet
        window.emojiPicker = new EmojiPicker({
            emojiable_selector: '[data-emojiable=true]',
            assetsPath: 'lib/img/',
            popupButtonClasses: 'fa fa-smile-o'
        });
        // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
        // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
        // It can be called as many times as necessary; previously converted input fields will not be converted again
        window.emojiPicker.discover();
    });
</script>


</body>
</html>

