
*{
	margin: 0;
	padding: 0;
	font-size: 0.9rem;
}
.content{

	width: 100%;
	height: 85%;
	overflow: scroll;
	float: left;
	position: absolute;
	margin-top: 44px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f8f8f8;

}
select{
	width: 60px;
	overflow: hidden;
	border: 0;
	outline: none;
	margin-right:-20px ;
}
p {
    margin: 0 0 10px;
}
.item {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}
.item-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 6px 0 5px 16px; }
  
  .item-input input {
  	outline: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 220px;
    -moz-box-flex: 1;
    -moz-flex: 1 220px;
    -ms-flex: 1 220px;
    flex: 1 220px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding-right: 24px;
    background-color: transparent;
     }
     .input-label {
  display: table;
  padding: 7px 10px 7px 0px;
  max-width: 200px;
  width: 25%;
  color: #444;
  font-size: 16px; }
.save{
	width: 90%;
	background-color:#FFAF15;
	height: 40px;
	margin-left: 5%;
	border:0;
	border-radius: 5px;
	color: white;
	margin-top: 10px;
	font-size: 1rem;
}