*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: left;

}
.mycolor{position:relative;top:-5px;font-size:0.9rem;}
.xinxin{
	width:10%;
	float:left;
	text-align:center;
	line-height:30px;
	height:100%;
}
body{
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size:0.9rem;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
a{
	text-decoration: none;
}
.tongxunlu {
    position: absolute;
    width: 24px;
    height: 20px;
    top: 10px;
    left: 90%;
    background: url(../img/tongxunlu.png);
    background-size: cover;
}
.content{

	width: 100%;
	height: 100%;
	overflow: scroll;
	float: left;
	position:fixed;

    top:0;

}
.friend-banner{
    display: block;
    position:relative;
    width:100%;
 
    background-image: url("../img/details3.JPG") ;
    background-size: 100% 88%;
    background-repeat:no-repeat;
    color: #ebebeb;
}
.data{
    position: absolute;
    color: white;
    top: 80%;
    left:50%;
    font-family: 微软雅黑;
    font-size: 0.7rem;
    
}
.data2{
    position: absolute;
    color: white;
    top: 80%;
    left:75%;
    font-family: 微软雅黑;
    font-size: 0.7rem;
    
}
.list:last-child {
    margin-bottom: 0px;
}
.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 10px;
    float:left;
    width:20%;
	
	
}
.name{
	color:#848c9f;
	font-weight:200;
	font-size:16px;
	
}

#date{
	color:#b7b7b7;
	font-weight:600;
	font-size:14px;
	float:left;
	width:50%;
	height:50px;
	line-height:50px;
	
}

li{
	list-style-type: none;
	
}
.xinxikuang{
	overflow:hidden
}
.frind-kuang{
	line-height: 1.5;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
	margin:10px 0px;
}
.list .item {
    border-color: #ddd;
  
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
   
 
    border-width: 1px;
    border-style: solid;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}

.item>h2,.item>p{
	margin-top: 20px;
}
.item-avatar-left{

    min-height: 52px;
}
.item-avatar-left > img{
    position: absolute;
    top: 10px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
  
}

.left1{
	float: left;
	width:80%;
	padding:15px 0px;
	
}
.left1>.container{
    width:100%;
    
    box-sizing: border-box;
    padding-right:20px;
	padding-top:15px;
}
.describe{
    /*margin-top: -20px;*/
    font-size: 0.7rem;
    color: #66667A;
    padding:5px 30px 5px 30px;
	padding-left:0px;
    text-align: left;
}
.favorable3{
    margin-top: 0.5rem;
    width:100%;
    height:auto;
    overflow:hidden;}
.fb2{
    float:left;
    width:100%;
    height:5rem;
    overflow:hidden;
    margin-bottom: 0.8rem;
}


.fb-lt2{
    width:33%;
    height:100%;
    margin:0.3rem 0 0 0;
    float: left;
}
.fb-lt2 img{ width:80%;
    height:100%;
    display:block;
    text-align: center;
    margin: auto;

}
.zan-bg{
	display:none;
	padding:5px 15px;
    position:absolute;
	right:50px;
    overflow:hide !important;
    /*margin-top: 10px;*/
    float: right;
    border-bottom:1px solid rgba(218,218,218,0.5);
    box-sizing: border-box;
	background-color:#393a3f;
    border-radius:4px;
	text-align:center;
}
.zan-bg>img{
    margin-top: 0.3rem;
    float: left;  
}
.zan-bg  span{
    font-size: 0.8rem;
    float: left;
    margin-left: 0.1rem;
    color: #5e5e5e;
}

.zhuan{
	margin-left: 0px;
	
}
.zhuan>img{
	width: 20px;
	height: 20px;
	margin-left: 5%;
	margin-top: 6px;
	float: left;
}
.pinglun{
    margin-right:15px;
    overflow:hide !important;
	float:left;
	line-height:20px;
}


.pinglun >span{
	float: left;
	text-align: center;
	height:18px;
	color:#fff;
	line-height:20px;
}
.pinglun >span>span{
	float: right;
	margin: 0 0 0 5px;
	color:#fff;
}
.pinglun>img{
   
    float: left;
    width: 22px;
	height: 18px;
	background-color:#fff;
}
.zan>span{
	float: left;
	color:#fff;
}
#like_data{
	margin:0px 0px 0px 5px;
}
.pinglun_data{
	margin-left: 37%;
}
.pinglun:target .pinglun-box{
    display: block;
}
.zan{
   overflow:hide !important;
   height:20px;
   float:left;
   line-height:20px;
}
.zan>img{
	width: 22px;
	height: 18px;
	float: left;
	background-color:#fff;
}
.pinglun-box{
    position:fixed;
    width:100%; 
	height:50px;
    background-color:#E4E4E4;
    z-index:100;
    left:0px;
	bottom:0px;
	padding:8px 5px;
}
.cover{
	
	float:left;
	width:77%;
	padding:0px 5px !important;
}
.face li{
	
	padding-bottom:0px;
}
.lead{
	
	padding:0px !important;
}
textarea{
	
	
	
}
.show{
	display: block;
	
}
.no{
	display: none;
}
.replayarea{
    position: absolute;
    width: 80%;
    height:50px;
border-radius: 5px;
   border:1px solid #DDDDDD ;
   top:10%;
    left: 10%;
resize: none;
}
.replay{

    display: inline-block;	
}

#add_post{
	background-color:green;
}
.btn{

float:left;
}
.container{
    height: auto;
    margin: auto;
}
.container>ul{
    height: auto;
    width: 100%;
}
.container>ul>a{
    display:inline-block;
    height:100%;
    border-bottom:none;

}
.container>ul>a>li{
    float: left;
    width: 100%;
    height:auto;
     margin:8px 0px !important;
}
.container>ul>a>li>img{
    width:100%;
	height:80px;
    max-height:90px;
    max-width:85px;
    padding-right: 5px;
    float: left;
    object-fit: cover;
}


.gallery:after {
    content: '';
    display: block;
    margin: .5em 0 1.4em;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(77,77,77,1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gallery img {
    height: 100%;
}


.face>li{
	margin:0px !important;
	float: left;
	width: 62px;
}
.new{
	display: block;
}
.old{display: none;}

.facebox{
	width: 200px;
	height: auto;
	display: none;
	 margin-top: 35px;
	}
.face>li>ul>li{
	float: left;
	list-style-type: none;
	width: auto;
	height: auto;
}
.add{
    display:flex;
    -webkit-box-direction:normal;
    -webkit-box-orient:horizontal;
    -webkit-box-pack:center;
   justify-content:center;
    transform:translate3d(0,0,0);
 position:absolute;
    bottom:80px;
    right:10px;
    z-index:5;
    width:auto;
    height:auto;

}
.bg{
    width: 100%;
    height: 0.7rem;
    background-color:rgba(240,240,240,0.7);
    float: left;
    border: 0.1rem solid rgba(218,218,218,0.2) ;
}
#page{width:100%;
height:100%;
margin:0 auto;}
.panel{display:none;
width:100%;
height: 100%;
background-color: #FFFFFF;
}
.friendname{
	font-size: 1.5rem;
	line-height: 62px;
	padding-left: 60px;
	float: left;
}
.item-avatar > img:first-child{
    position: absolute;
    top: 10px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.item .badge {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 16px;
    right: 32px;
}

.badge {
    background-color: #ffc900;
    color: #FFFFFF;
    z-index: 1;
    display: inline-block;
    padding: 3px 8px;
    min-width: 10px;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    
}
/*获取手机图片样式*/
.camre{
	position: absolute;
    width: 24px;
    height: 20px;
    top: 10px;
    left: 90%;
    background-size: cover;
	z-index:999;
}
/*弹出层*/
.popups{
	display: black;
    position: absolute;
    top: 16%;
    right: 0;
    left: 26%;
    z-index:999;
   background-color:#fff;
    width:50%;
	height:20%;
}
/*10-18 社区样式修改*/
.date{
   width:100%;
   height:20px;

}