<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta charset="UTF-8">
    <title>分类</title>
    <link href="../css/foot.css" rel="stylesheet">
    <link href="../css/head.css" rel="stylesheet">
    <link href="../css/home-class.css" rel="stylesheet">
</head>
<body>
<div class="foot">
    <a class="foot-tab" href="start.html"><img src="../img/ion/start2.png">
        <p>首页</p></a>
    <a class="foot-tab " href="friend.html"><img src="../img/ion/friend2.png">
        <p>社区</p></a>
		<a class="foot-tab " href="sendpost.html"><img src="../img/ion/fatie.png">
            <p>发帖</p></a>
    <a class="foot-tab " href="home.html"><img src="../img/ion/home.png">
        <p>小店</p></a>
    <a class="foot-tab " href="person.html"><img src="../img/ion/my2.png">
        <p>我的</p></a>
</div>
<ion-header-bar class="stable-bg bar bar-header" align-title="center">
    <button class="button " onclick="history.go(-1)">
        <i class="icon ion-android-arrow-back"></i>
				<span class="back-text">
				<img src="../img/ion/return.png">
				</span>
    </button>

    <div class="title title-center header-item" style="left: 15px; right: 15px;">分类</div>
</ion-header-bar>
<div class="content">
    <div class=" find-bg">
        <div class="find2 light-bg"><input placeholder="商品搜索"><i class="findimg"><img src="../img/find.png"></i></div>
    </div>
    <ul class="list ">
        <!--<li class="item item-thumbnail-left" href="details.html">-->
            <!--<img src="../img/find.jpg">-->
            <!--<h3>成都三元乔亚朵酒店</h3>-->
            <!--<p style="color: red">￥1400元起</p>-->
        <!--</li>-->
        <!--<li class="item item-thumbnail-left" href="details.html">-->
            <!--<img src="../img/find.jpg">-->
            <!--<h3>成都三元乔亚朵酒店</h3>-->
            <!--<p style="color: red">￥1400元起</p>-->
        <!--</li>-->
    </ul>
    <a href="all.html">
        <div class="bg5 light-bg" style="margin-top: 10px"><p>查看更多</p></div>
    </a>
</div>
</body>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var limit = -5;
        // 加载其他
        $.ajax({
            type: 'post',
            data: {'title': $('input[name=like]').val(), 'limit': limit + 5},
            dataType: 'json',
            url: 'http://www.bananatrip.cn/like/good',
            success: function (obj) {
                obj.map(function (value, index, array) {
                    var good_list = '<li class="item item-thumbnail-left" href="details.html?id=' + value["good_id"] + '"> <img src="' + value['good_image'] + '"> <h3>' + value["good_name"] + '</h3> <p style="color: red">￥' + value["good_amount"] + '元起</p> </li>';
                    $('.list').append(good_list);
                });
            },
            error: function (obj) {
            }
        });
        $('.content').on('click', 'li', function () {
            window.location.href = $(this).attr("href");
        })
    })
</script>


</html>
