<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/foot.css" rel="stylesheet">
    <link href="../css/head.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="foot">
    <a class="foot-tab" href="start.html"><img src="../img/ion/start2.png">
        <p class="mycolor">首页</p></a>
    <a class="foot-tab " href="friend.html"><img src="../img/ion/friend2.png">
        <p>社区</p></a>
    <a class="foot-tab " href="home.html"><img src="../img/ion/home.png">
        <p>小店</p></a>
    <a class="foot-tab " href="person.html"><img src="../img/ion/my2.png">
        <p>我的</p></a>
</div>
<ion-header-bar class="stable-bg bar bar-header" align-title="center">

    <div class="buttons buttons-left">
					<span class="left-buttons">
                              <i class="tongxunlu" id="right-panel-link" href="#right-panel"></i>
                    </span>
    </div>
    <div class="title title-center header-item" style="left: 15px; right: 15px;">店铺首页</div>
</ion-header-bar>
<div class="content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner" style="height:150px;">
            <div class="item active">
                <img src="../img/find.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="../img/hotel4.jpeg" alt="Second slide">
            </div>
            <div class="item">
                <img src="../img/hotel8.jpeg" alt="Third slide">
            </div>
        </div>

    </div>
    <div class="bg"></div>
    <div class="row light-bg" style="margin: 0">
        <a class="tab-item " href="home-class.html"><img src="../img/ion/fenlei.png" width="45px" height="45px">
            <p class="p">分类</p></a>
        <a class="tab-item" href="home-special.html"><img src="../img/ion/zhuanti.png" width="45px" height="45px">
            <p class="p">专题</p></a>
        <a class="tab-item " href="home-new.html"><img src="../img/ion/new.png" width="45px" height="45px">
            <p class="p">最新</p></a>

    </div>

    <div class="stable-bg find-bg">
        <div class="find2 light-bg">
            <input name='like' placeholder="商品搜索"/>
            <i class="findimg">
                <img src="../img/find.png">
            </i>
        </div>
    </div>
    <div class="title2"><p>- - 本周热销 - -</p></div>
    <div class="section"><img id="tag_20" src="../img/post5.jpg"></div>
    <div class="title2"><p>- - 推荐商品 - -</p></div>
    <div style="margin-bottom: 10px">
        <div class="section" id="tag_10">
            <a href_ture="details.html" href="#">
                <img src="../img/find.jpg">
            </a>
        </div>
        <div class="sectionbottom">
            <span class="span1"><strong>单品推荐|</strong></span>
            <span class="span2">2017年 新年创意福字门贴</span>
        </div>
    </div>
    <div class="section"><img id="tag_40" src="../img/post1.jpg"></div>
    <div id="good_list">
        <!--<div class="small_section" style="border: 0">-->
        <!--<div class="projectbox" ui-sref="details.html">-->
        <!--<img src="../img/find.jpg">-->
        <!--<p>2017年 新年创意</p>-->
        <!--<p class="price2">￥ 18.00</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="small_section" style="border: 0">-->
        <!--<div class="projectbox" ui-sref="details.html">-->
        <!--<img src="../img/find.jpg">-->
        <!--<p>2017年 新年创意</p>-->
        <!--<p class="price2">￥ 18.00</p>-->
        <!--</div>-->
        <!--</div>-->
    </div>

    <div class="bg5" style="margin-top: 50px" ui-sref="all.html"><p><a href="all.html">查看更多</a></p></div>
    <div class="footer"><span>店铺首页</span><span style="margin-left: 10px">个人中心</span></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myCarousel').carousel({interval: 1000}); // 每隔5秒自动轮播
    });

    $(function () {
        var limit = 0;
        // 本周热销
        $.ajax({
            type: 'post',
            data: {'tag': 20},
            dataType: 'json',
            url: 'http://www.bananatrip.cn/good/tag',
            success: function (obj) {
                $('#tag_20').attr('src', obj[0]['good_image']);
            },
            error: function (obj) {

            }
        });

        // 推荐
        $.ajax({
            type: 'post',
            data: {'tag': 10},
            dataType: 'json',
            url: 'http://www.bananatrip.cn/good/tag',
            success: function (obj) {
                $('.span2').html(obj[0]['good_name']);
                $('#tag_40').attr('src', obj[0]['good_image']);
            },
            error: function (obj) {

            }
        });

        // 单品推荐
        $.ajax({
            type: 'post',
            data: {'tag': 40},
            dataType: 'json',
            url: 'http://www.bananatrip.cn/good/tag',
            success: function (obj) {
                $('#tag_10 > a ').attr('src', 'details.html?id=' + obj[0]['good_id']);
                $('#tag_10 > a > img ').attr('src', obj[0]['good_image']);
            },
            error: function (obj) {

            }
        });

        // 加载其他
        $.ajax({
            type: 'post',
            data: {'title': $('input[name=like]').val(), 'limit': 0},
            dataType: 'json',
            url: 'http://www.bananatrip.cn/like/good',
            success: function (obj) {
                console.log(obj);
                obj.map(function (value, index, array) {
                    var good_list = '<div class="small_section" ui-sref="details.html?id=' + value["good_id"] + '" style="border: 0"><div class="projectbox"  > <img src="' + value['good_image'] + '"> <p>' + value["good_name"] + '</p> <p class="price2">￥ ' + value['good_amount'] + '</p> </div> </div>';
                    $('#good_list').append(good_list);
                });
            },
            error: function (obj) {
            }
        });
        $('#good_list').on('click', 'div', function () {
            var href = $(this).attr('ui-sref');
            window.location.href = href;
        });
        // 搜索框
        $('.findimg').click(function () {
            // 加载其他
            $.ajax({
                type: 'post',
                data: {'title': $('input[name=like]').val(), 'limit': limit + 5},
                dataType: 'json',
                url: 'http://www.bananatrip.cn/like/good',
                success: function (obj) {
                    // console.log(obj);
                    $('#good_list').empty();
                    obj.map(function (value, index, array) {
                        var good_list = '<div class="small_section" ui-sref="details.html?id=' + value["good_id"] + '" style="border: 0"><div class="projectbox"  > <img src="' + value['good_image'] + '"> <p>' + value["good_name"] + '</p> <p class="price2">￥ ' + value['good_amount'] + '</p> </div> </div>';
                        $('#good_list').append(good_list);
                    });
                },
                error: function (obj) {
                }
            });
        })

    });
</script>

</body>
</html>
