<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>选择出行日期和人数 - 香蕉旅行网</title>
    <meta name="keywords" content="香蕉旅行网">
    <meta name="description" content="香蕉旅行网">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-title" content="香蕉旅行网">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 不让百度转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../css/style_debug.css">
</head>
<body id="batch" class="indexBody">
<header>
    <a href="javascript:;" onclick="location.href='javascript:history.back()'" class="h-city re-back"><span
            class="iconfont">&#xe613;</span></a>
    <div class="headerCenter">
        选择出行日期和人数
    </div>
    <div class="headerRight">
        <a href="https://m.youxiake.com/usercenter" class="u-userCenter"></a>
    </div>
    <div class="headerLeft">
        <a href="javascript:;" onclick="location.href='javascript:history.back()'" class="h-city re-back"><span
                class="iconfont">&#xe613;</span></a>
    </div>
</header>
<div class="container">
    <div id="calendar" data-date="2018-1-14"></div>
    <div class="calendarInfo" id="j-peopleNum">
        <i class="current-peopleNum full"></i>
        <span class="current-peopleText">报名已满</span>
    </div>
    <div class="d-title hover">月份/批次</div>
    <div id="wrapper" class="wrapper re-batch">
        <div id="scroller">
            <ul>
                <li data-date="2018-01"><a href="javascript:;" class="active"><span>01月</span></a></li>
                <li data-date="2018-02"><a href="javascript:;" class="active"><span>02月</span></a></li>
            </ul>
        </div>
    </div>
    <div id="batchType"></div>
    <div class="c-okBox re-okBox">
        <div class="okInfo">
            <p class="okInfo-c" id="j-dateOk">请选择日期</p>
        </div>
        <a href="#" class="c-ok j-submit">下一步</a>
    </div>
</div>

<script type="text/javascript" src="../js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="../js/iscroll-lite.js"></script>
<script type="text/javascript" src="../js/yxk_base_debug.js"></script>
<script type="text/javascript" src="../js/yxk_debug.js"></script>
<script type="text/javascript">
    var id = GetQueryString('id');
    var dataUrl = 'http://www.bananatrip.com/travel/time?id=' + id + '&';
    // var dataUrl = 'hui.php';
    var pid = "16713";
    var now = GetYMD();
    var bid = "41770";
    var typeUrl = "https://m.youxiake.com/lines/typelist";
    yxk.dataPage();
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }
    function GetYMD() {
        var myDate = new Date();//获取系统当前时间;
        var Y = myDate.getFullYear(); //获取当前年份(2位);
        var M = myDate.getMonth() + 1; //获取当前月份(0-11,0代表1月)
        var D = myDate.getDate();
        return Y + '-' + M + '-' + D;
    }
    $.ajax({
        type: 'post',
        data: {'id': id},
        dataType: 'json',
        url: 'http://www.bananatrip.com/travel/time/month',
        success: function (data) {
            data.map(function (value, index, array) {
                var string = '<li data-date="' + value.info_month + '"><a href="javascript:;" class="active"><span>' + value.info_month + '</span></a></li>';
                $('#scroller ul').append(string)
            });
        },
        error: function () {
        }
    });
    $('.j-submit').click(function () {
        var data = '';
        $('.current-month').each(function () {
            if ($(this).hasClass('active')) {
                data = $(this).attr('data-val');
            }
        });
        if (data == '') {
            alert('请选择时间')
        } else {
            window.location.href = 'http://www.bananatrip.com/templates/ordermess.html?id=' + GetQueryString('id') + '&data=' + data
        }
    });


</script>
</body>
</html>
