<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta charset="UTF-8">
    <title>他的帖子</title>
    <link href="../css/foot.css" rel="stylesheet">
    <link href="../css/head.css" rel="stylesheet">
    <link href="../css/otherjoin.css" rel="stylesheet">
</head>
<body>
<div class="foot">
    <a class="foot-tab" href="start.html"><img src="../img/ion/start2.png">
        <p>首页</p>
    </a>
    <a class="foot-tab " href="friend.html"><img src="../img/ion/friend.png">
        <p>社区</p>
    </a>
    <a class="foot-tab " href="home.html"><img src="../img/ion/home2.png">
        <p>小店</p>
    </a>
    <a class="foot-tab " href="person.html"><img src="../img/ion/my2.png">
        <p>我的</p>
    </a>
</div>
<ion-header-bar class="stable-bg bar bar-header" align-title="center">
    <button class="button " onclick="history.go(-1)">
        <i class="icon ion-android-arrow-back"></i>
        <span class="back-text">
            <img src="../img/ion/return.png">
        </span>
    </button>
    <div class="title title-center header-item" style="left: 15px; right: 15px;">他的帖子</div>
</ion-header-bar>
<div class="content">


    <!--<ul class="list" style="float: left;width: 100%;">-->
        <!--<li class="item item-avatar-left" style="border: 0">-->
            <!--<img src="../img/2.jpg" href="other.html">-->
            <!--<h2 id="name">Stranger</h2>-->
            <!--<p id="date" class="date">2017-04-17 18:27</p>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<div class="left1">-->
        <!--<p class="describe "><span>首先这虽是一个菲律宾潜水考证的套餐，但是吃住都很好，全包，宝宝浅水度过一个愉快的假期</span></p>-->
        <!--<div class="container">-->
            <!--<ul class="docs-pictures clearfix">-->
                <!--<li><img data-original="../img/tibet-1.jpg" src="../img/thumbnails/tibet-1.jpg" alt="Cuo Na Lake"></li>-->
                <!--<li><img data-original="../img/tibet-2.jpg" src="../img/thumbnails/tibet-2.jpg" alt="Tibetan Plateau">-->
                <!--</li>-->
                <!--<li><img data-original="../img/tibet-3.jpg" src="../img/thumbnails/tibet-3.jpg" alt="Jokhang Temple">-->
                <!--</li>-->
                <!--<li><img data-original="../img/tibet-4.jpg" src="../img/thumbnails/tibet-4.jpg" alt="Potala Palace 1">-->
                <!--</li>-->
                <!--<li><img data-original="../img/tibet-5.jpg" src="../img/thumbnails/tibet-5.jpg" alt="Potala Palace 2">-->
                <!--</li>-->
                <!--<li><img data-original="../img/tibet-6.jpg" src="../img/thumbnails/tibet-6.jpg" alt="Potala Palace 3">-->
                <!--</li>-->
                <!--<li><img data-original="../img/tibet-7.jpg" src="../img/thumbnails/tibet-7.jpg" alt="Lhasa River"></li>-->
                <!--<li><img data-original="../img/tibet-8.jpg" src="../img/thumbnails/tibet-8.jpg" alt="Namtso 1"></li>-->
                <!--<li><img data-original="../img/tibet-9.jpg" src="../img/thumbnails/tibet-9.jpg" alt="Namtso 2"></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="zan-bg">-->
        <!--<div class="zhuan">-->
            <!--<img src="../img/zhuanfa.png" ui-sref="frame.post">-->
            <!--<span>转</span>-->
        <!--</div>-->
        <!--<div class="pinglun" id="pinglun">-->
            <!--<img src="../img/pinglun.png">-->
            <!--<span>评论-->
                <!--<span id="pinglun_data">0</span>-->
            <!--</span>-->
        <!--</div>-->
        <!--<div class="zan"><img src="../img/zan.png" id="like">-->
            <!--<span>赞</span>-->
            <!--<span id="like_data">0</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="list_banner">-->
        <!--<img src="../img/zan.png">-->
        <!--<div class="post_list">-->
            <!--<img src="../img/1.jpg">-->
            <!--<img src="../img/2.jpg">-->
            <!--<img src="../img/3.jpg">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="list_banner" style="margin-top: 20px;">-->
        <!--<img src="../img/pinglun.png">-->
        <!--<div class="post_list">-->
            <!--<img src="../img/2.jpg">-->
            <!--<div class="post_mess">-->
                <!--<p>Stranger</p>-->
                <!--<p class="mess">-->
                    <!--<img src="../img/face/1.gif">-->
                <!--</p>-->
            <!--</div>-->
            <!--<span class="rightzan">-->
                <!--<img src="../img/zan.png" class="like">-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="list_banner">-->
        <!--<div class="post_list"><img src="../img/2.jpg">-->
            <!--<div class="post_mess"><p>Stranger</p>-->
                <!--<p class="mess">scssjkhcklsjnv;sdk;</p>-->
            <!--</div>-->
            <!--<span class="rightzan"><img src="../img/zan.png" class="like"></span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="list_banner">-->
        <!--<div class="post_list"><img src="../img/2.jpg">-->
            <!--<div class="post_mess"><p>Stranger</p>-->
                <!--<p class="mess">scssjkhcklsjnv;sdk;</p>-->
                <!--<span class="rightzan">-->
                    <!--<img src="../img/zan.png" class="like">-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<a href="otherpost.html">-->
        <!--<div class="bg5" style="margin-top:50px"><p>查看更多</p></div>-->
    <!--</a>-->
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/index.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'post',
            data: {'id': GetQueryString('id')},
            dataType: 'json',
            url: 'http://www.bananatrip.cn/user/all/post',
            success: function (obj) {
                // console.log(obj);
                obj['return'].map(function (value, index, array) {
                    //  贴纸
                    var users = '<img src="' + obj["info_user"]["user_headimgurl"] + '" href="other.html?id=' + obj["info_user"]["user_id"] + '"><h2 id="name">' + obj["info_user"]["user_name"] + '</h2>';
                    var post = '<ul class="list" style="float: left;width: 100%;">' +
                            '<li class="item item-avatar-left" style="border: 0">' + users +
                            '<p id="date" class="date">' + formatDate(value["post_time"]) + '</p>' +
                            '</li></ul><div class="left1"><p class="describe "><span>' + value["post_content"] + '</span></p><div class="container">' +
                            '<ul class="docs-pictures clearfix">' + value["post_images"] + '</ul></div></div><div class="zan-bg"><div class="zhuan">' +
                            '<img src="../img/zhuanfa.png" ui-sref="frame.post"><span>转</span></div><div class="pinglun" id="pinglun">' +
                            '<img src="../img/pinglun.png"><span>评论<span id="pinglun_data">' + value["post_praise_num"] + '</span></span></div>' +
                            '<div class="zan"><img src="../img/zan.png" id="like"><span>赞</span><span id="like_data">' + value["post_praise"] + '</span></div></div>';
                    $('.content').append(post);
                    // 用户点赞
                    var user = '';
                    value['user'].map(function (value, index, array) {
                        user = user + '<img src="' + value["user_headimgurl"] + '">';
                    });
                    $('.content').append('<div class="list_banner"><img src="../img/zan.png"><div class="post_list">' + user + '</div></div>');
                    // 用户评论
                    value['review'].map(function (value, index, array) {
                        var review = '<div class="list_banner"><div class="post_list"><img src="' + value["user_headimgurl"] + '"><div class="post_mess"><p>' + value["user_name"] + '</p><p class="mess">' + value["review_body"] + '</p> </div> <span class="rightzan"><img src="../img/zan.png" class="like"></span></div></div>'
                        $('.content').append(review);
                    });
                })
            },
            error: function (obj) {
            }
        });
    });

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg); //获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }

    function formatDate(num) {
        var now = new Date(num);
        var year = now.getYear();
        var month = now.getMonth() + 1;
        var date = now.getDate();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();
        //2017-04-17 18:27
        return year + "-" + month + "-" + date + ' ' + hour + ":" + minute
    }
</script>
<script type="text/javascript">
    window.onload = function () {
        // 选择图片
        document.getElementById('img').onchange = function () {
            var img = event.target.files[0];
            // 判断是否图片
            if (!img) {
                return;
            }
            // 判断图片格式
            if (!(img.type.indexOf('image') == 0 && img.type && /\.(?:jpg|png|gif)$/.test(img.name))) {
                alert('图片只能是jpg,gif,png');
                return;
            }
            var reader = new FileReader();
            reader.readAsDataURL(img);
            reader.onload = function (e) { // reader onload start
                // ajax 上传图片
                $.post("http://www.bananatrip.cn/update/image", {img: e.target.result}, function (ret) {
                    if (ret.img != '') {
                        alert('upload success');
                        $('#showimg').append('<img src="' + ret.img + '">');
                    } else {
                        alert('upload fail');
                    }
                }, 'json');
            };// reader onload end
        }
    }
</script>


</body>
</html>

