<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="../css/foot.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="foot">
    <a class="foot-tab" href="start.html"><img src="../img/ion/start.png">
        <p class="mycolor">首页</p></a>
    <a class="foot-tab " href="friend.html"><img src="../img/ion/friend2.png">
        <p>社区</p></a>
    <a class="foot-tab " href="sendpost.html"><img src="../img/ion/fatie.png">
        <p>发帖</p></a>
    <a class="foot-tab " href="home.html"><img src="../img/ion/home2.png">
        <p>小店</p></a>
    <a class="foot-tab " href="person.html"><img src="../img/ion/my2.png">
        <p>我的</p></a>
</div>
<div class="content">
    <script src="../js/indexx.js"></script>
    <script src="../js/touchslide.1.1.js"></script>
    <div id="slideBox" class="slideBox">
        <div class="bd">
            <ul>
                <li><img src="../img/find.jpg" alt="First slide"></li>
                <li><img src="../img/hotel4.jpeg" alt="Second slide"></li>
                <li><img src="../img/hotel8.jpeg" alt="Third slide"></li>
            </ul>
        </div>
        <div class="hd">
            <ul></ul>
        </div>
    </div>
    <div class="bg"></div>
    <div class="row light-bg" style="margin: 0">
        <a class="tab-item " href="small.html"><img src="../img/ion/ion1.png" width="45px" height="45px">
            <p class="p">小众旅行</p></a>
        <a class="tab-item" href="outdoor.html"><img src="../img/ion/ion2.png" width="45px" height="45px">
            <p class="p">户外体验</p></a>
        <a class="tab-item " href="live.html"><img src="../img/ion/ion3.png" width="45px" height="45px">
            <p class="p">美宿旅居</p></a>
        <a class="tab-item " href="abroad.html"><img src="../img/ion/ion4.png" width="45px" height="45px">
            <p class="p">出境优选</p></a>
    </div>
    <div class="bg"></div>
    <div>
        <p class="bgtit" style="margin-top: 2rem;">香蕉小发现</p>
        <p class="smalltit">每天发现不一样的美</p>
    </div>
    <div class="contain">
        <div class="ad-left" id="ad-left">
            <!--<div class="left-top">-->
            <!--<img src="../img/s1.jpg">-->
            <!--<div class="bg4">-->
            <!--<p class="place">泰国</p>-->
            <!--<p class="price">RMB 1899起</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="left-bottom">-->
            <!--<img src="../img/s2.jpg">-->
            <!--<div class="bg4">-->
            <!--<p class="place ">长滩岛</p>-->
            <!--<p class="price">RMB 1699起</p>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="add-right" id="ad-right">
            <!--<div class="right-top">-->
            <!--<img src="../img/s.jpg">-->
            <!--<div class="bg4">-->
            <!--<p class="place ">长滩岛</p>-->
            <!--<p class="price">RMB 1699起</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="right-bottom">-->
            <!--<img src="../img/s5.jpg">-->
            <!--<div class="bg4">-->
            <!--<p class="place ">九寨沟</p>-->
            <!--<p class="price">RMB 1699起</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="left-top"><a href="activedetails.html?id=3"><img src="http://www.bananatrip.com/img/s1.jpg"></a>-->
            <!--<div class="bg4"><p class="place">杭州</p>-->
            <!--<p class="price">RMB100起</p></div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="bg2"></div>
    <div>
        <p class="bgtit">周末不浪费</p>
        <p class="smalltit">轻松周末，简单旅行</p>
    </div>

    <div class="contain2">
        <!--<div class="contain2-left">-->
        <!--<div class="contain2-img">-->
        <!--<img src="../img/s3.jpg"/>-->
        <!--</div>-->
        <!--<p class=" p">泰国</p>-->
        <!--<p class="contain2-price">RMB 1899起</p>-->
        <!--</div>-->
        <!--<div class="contain2-left">-->
        <!--<div class="contain2-img">-->
        <!--<img src="../img/s4.jpg"/>-->
        <!--</div>-->
        <!--<p class=" p">香港</p>-->
        <!--<p class="contain2-price">RMB 1199起</p>-->
        <!--</div>-->
        <!--<div class="contain2-right">-->
        <!--<div class="contain2-img">-->
        <!--<a href="activedetails.html?id=37"><img src="http://www.bananatrip.com/images/20170921/10000020170921015003.png"></a>-->
        <!--</div>-->
        <!--<p class=" p">四川阿坝藏族羌族自治州理县境内</p>-->
        <!--<p class="contain2-price">RMB 800起</p></div>-->
    </div>
    <div class="contain2">
        <!--<div class="contain2-left">-->
        <!--<div class="contain2-img">-->
        <!--<img src="../img/s5.jpg"/>-->
        <!--</div>-->
        <!--<p class=" p">长滩岛</p>-->
        <!--<p class="contain2-price">RMB 1699起</p>-->
        <!--</div>-->
        <!--<div class="contain2-left">-->
        <!--<div class="contain2-img"><img src="../img/s7.jpg"/></div>-->
        <!--<p class=" p">九寨沟</p>-->
        <!--<p class="contain2-price">RMB 2899起</p>-->
        <!--</div>-->
        <!--<div class="contain2-right">-->
        <!--<div class="contain2-img">-->
        <!--<a href="activedetails.html?id=33"><img src="http://www.bananatrip.com/images/20170921/10000020170921015003.png"></a>-->
        <!--</div>-->
        <!--<p class=" p">阿洒洒大苏打送达大苏打</p>-->
        <!--<p class="contain2-price">RMB 0起</p></div>-->
        <!--</div>-->
        <!--<div class="bg"></div>-->
    </div>
    <div>
        <p class="bgtit" style="margin-top:0.5rem;">香蕉精选</p>
        <p class="smalltit">年轻玩法，最in假期</p>
    </div>
    <div class="ad">
        <img src="../img/22222.jpg">
    </div>
    <ul class="list">
        <!--<li class="item item-thumbnail-left">-->
        <!--<img src="../img/s1.jpg">-->
        <!--<p>北京-香港4天3晚自由行</p>-->
        <!--<p class="list-price"><span class="RMB">RMB </span><span class="bigprice">1479</span><span-->
        <!--class="qi">起 </span></p>-->
        <!--</li>-->
        <!--<li class="item item-thumbnail-left">-->
        <!--<img src="../img/s2.jpg">-->
        <!--<p>北京-香港4天3晚自由行</p>-->
        <!--<p class="list-price"><span class="RMB">RMB </span><span class="bigprice">1479</span><span-->
        <!--class="qi">起 </span></p>-->
        <!--</li>-->
        <!--<li class="item item-thumbnail-left">-->
        <!--<img src="../img/s3.jpg">-->
        <!--<p>北京-香港4天3晚自由行</p>-->
        <!--<p class="list-price"><span class="RMB">RMB </span><span class="bigprice">1479</span><span-->
        <!--class="qi">起 </span></p>-->
        <!--</li>-->
        <!--<li class="item item-thumbnail-left">-->
        <!--<img src="../img/s4.jpg">-->
        <!--<p>北京-香港4天3晚自由行</p>-->
        <!--<p class="list-price"><span class="RMB">RMB </span><span class="bigprice">1479</span><span-->
        <!--class="qi">起 </span></p>-->
        <!--</li>-->
        <!--<li class="item item-thumbnail-left">-->
        <!--<img src="../img/s5.jpg">-->
        <!--<p>北京-香港4天3晚自由行</p>-->
        <!--<p class="list-price"><span class="RMB">RMB </span><span class="bigprice">1479</span><span-->
        <!--class="qi">起</span></p>-->
        <!--</li>-->
    </ul>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'post',
            data: {'test': 'tes'},
            dataType: 'json',
            url: 'http://www.bananatrip.com/banana/start',
            success: function (obj) {
                var contain = new Array('left-top', 'left-bottom', 'right-top', 'right-bottom');
                var sift = obj.sift;       // 香蕉精选
                var small = obj.small;     // 香蕉小发现
                var weekend = obj.weekend; // 周末不浪费

                small.map(function (value, index, array) {
                    var sift_t = '<div class="' + contain[index] + '"><a href="activedetails.html?id=' + value["travel_id"] + '"><img src="' + small[index]["travel_host_image"] + '"></a><div class="bg4"> <p class="place">' + small[index]["travel_bourn"] + '</p> <p class="price">RMB' + small[index]["travel_expense"] + '起</p></div></div>';
                    if (index <= 1) {
                        $('#ad-left').append(sift_t);
                    }
                    else {
                        $('#ad-right').append(sift_t);
                    }
                });

                weekend.map(function (value, index, array) {
                    var weekend_t = '<div class="contain2-left"><div class="contain2-img"><a href="activedetails.html?id=' + value["travel_id"] + '"><img src="' + weekend[index]["travel_host_image"] + '"/></a></div> <p class=" p">' + weekend[index]["travel_bourn"] + '</p> <p class="contain2-price">RMB ' + weekend[index]["travel_expense"] + '起</p></div>';
                    // console.log(index);
                    if (index <= 1) {
                        $(".contain2").eq(0).append(weekend_t)
                    } else {
                        $(".contain2").eq(1).append(weekend_t)
                    }
                });

                sift.map(function (value, index, array) {
                    var sift_t = '<li class="item item-thumbnail-left"><a href="activedetails.html?id=' + value["travel_id"] + '"><img src="' + sift[index]["travel_host_image"] + '"><p>' + sift[index]["travel_name"] + '</p></a><p class="list-price"><span class="RMB">RMB </span><span class="bigprice">' + sift[index]["travel_expense"] + '</span><spanclass="qi">起 </span></p> </li>'
                    $('.list').append(sift_t);
                });

            },
            error: function (obj) {
            }
        })
    })
</script>
<script>
    $(document).ready(function () {
        $('#myCarousel').carousel({interval: 1000});//每隔5秒自动轮播
    });
</script>
</body>
</html>
